<!DOCTYPE html>
<html>
  <head>
    <title>arcane-laboratory</title>
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Open+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
    <script>
        window.currentUser = {
          "id": "<%= current_user.id %>",
          "username": "<%= current_user.username %>"
        }
    </script>
    <% end %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
